*,
*::before,
*::after {
  box-sizing: border-box;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 40%;
  margin: 48px auto 0;
  border: 1px solid #000000;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 8px;
}
